
@media(max-width: 929px) {
    .hello {
        display: none;
    }

    .center {
        margin: auto;
    }

    .show {
        display: block !important;
    }

}

.hoverred:hover {
    transition: all 0.3s;
    background-color: rgb(233, 0, 0) !important;
    color: white;
}

.dropdownp:hover .list-group {
    display: block !important;
}

.borderdim {
    border: 1px solid rgba(205, 205, 205, 0.833);
    transition: all 0.8s;
}

.borderdim:hover {
    border: none;
}
